

.title{
  font-size: 70px;
  text-align: center;
}
.button{
  font-size: 110px;
  margin-right: 20px;
  margin-left: 20px;
  font-weight: 500;
}


.button :hover{
  color: #707070;
  transition: 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .title{
    font-size: 40px;
    text-align: center;
  }
  .button{
    font-size: 40px;
    font-weight: 500;
  }
  
}



.options{
  display: flex;
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}